<section>
  <%= image_tag 'hoypormx' %>
  <h1>#HoyPorMéxico</h1>
  <p>Estos últimos días han sido complicados para nuestro país, nos hemos unido sumando esfuerzos para apoyar a todos los damnificados. Sin embargo miles de personas no podrán regresar a casa. Ayudemos a la reconstrucción de sus hogares y demostremos que hoy México es más fuerte que nunca.</p>
</section>